:root {
  --nativ-focus: #0052d3;
  --border: #ececec;
  --hero-button-hover: #188ce8;
  --icon: #afb1b8;
  --services-list-text: rgba(47, 48, 58, 0.8);
  --image-placeholder: #eeeeee;
  --works-overlay: rgba(33, 150, 243, 0.9);
  --social-link-icon-background: rgba(255, 255, 255, 0.1);
  --footer-input-border: rgba(255, 255, 255, 0.3);
  --backdrop: rgba(0, 0, 0, 0.2);
  --border-button-modal: rgba(0, 0, 0, 0.1);
  --border-modal-input: rgba(33, 33, 33, 0.2);
  --textarea-placeholder: rgba(117, 117, 117, 0.5);
  --black: #000;
  --dark: #212121;
  --gray: #757575;
  --dark-gray: #2f303a;
  --lite-gray: #f5f4fa;
  --transparent-gray: rgba(255, 255, 255, 0.6);
  --blue: #2196f3;
  --white: #fff;

  --font: 'Roboto', sans-serif;
  --font-logo: 'Raleway';
}

$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1200px;
$screen-sm-max: 479px;
$screen-md-max: 767px;
$screen-lg-max: 1199px;
